/* Footer */
.bg-left {
  left: 0;
  background-image: radial-gradient(
    farthest-side at left center,
    #0a2f94,
    rgba(10, 47, 148, 0)
  );
}

.bg-right {
  right: 0;
  background-image: radial-gradient(
    farthest-side at right center,
    #7a079a,
    rgba(122, 7, 154, 0)
  );
}

@keyframes bg-light {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/* Carousel Control */
.swiper-button-prev, .swiper-button-next {
  @apply min-h-full !w-12 bg-[hsl(var(--background))]/50 hover:bg-[hsl(var(--background))]/70 !top-0 !mt-0;
}

.swiper-button-prev {
  @apply !left-0;
}
.swiper-button-next {
  @apply !right-0;
}